body {
  width: 100%;
  margin: 0%;
  box-sizing: border-box;
}

p {
  color: #6e7992;
  font-family: Inter;
  font-size: 18px;
  line-height: 28px;
}

.bell {
  position: relative;
  background: #e08213;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  left: 12rem;
  justify-content: center;
  padding: 0.5em;
}

.bell img {
  width: 1000px;
  height: 15px;
  color: blue;
}

.text {
  position: relative;
  color: #6e7992;
  font-family: Inter;
  font-size: 1rem;
  text-align: center;
  line-height: 28px;
  margin: 10rem 0 1rem 0;
}

header {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0.5rem 2rem;
  top: 0;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu {
  position: absolute;
  float: right;
  right: 0;
  display: block;
  padding: 1rem;
  z-index: 1;
  top: 0;
}

nav a {
  text-decoration: none;
  color: #152b5b;
}

nav .home-link,
.about-link,
.course-link,
.price-link,
.signin-link {
  display: none;
  font-weight: 400;
  text-decoration: none;
  line-height: 19px;
  padding: 0.5rem 0;
  font-family: Inter;
}

.logo {
  height: 30px;
  width: 70px;
}

nav .btn {
  border-radius: 4px;
  color: #fff;
  background: #f88f2f;
  padding: 0.5rem 1rem;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.hero-img {
  position: absolute;
  width: 60vw;
  height: 41vh;
  left: 4rem;
  z-index: 1;
}

.btn-hero {
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  background: #f88f2f;
  padding: 1rem 2rem;
}

.hero-left {
  z-index: 1;
  padding: 2rem 1rem;
  background-color: #fff;
}

.hero .dots {
  left: 15rem;
}

.hero-right {
  position: relative;
  right: 1rem;
  width: 100vw;
  padding: 5rem 2rem;
}

.bg {
  position: absolute;
  height: 45vh;
  right: 0;
  z-index: -1;
  left: 0;
  width: 100vw;
  top: 0;
}

.dots {
  position: relative;
  left: 100px;
  top: 0px;
  z-index: 1;
}

.sub {
  font-family: Inter;
  font-weight: 200;
  font-size: 18px;
  color: #6e7992;
  color: red;
}

.more {
  color: #e08213;
  font-size: 14px;
}

.check-wrap {
  display: block;
}
.check-wrap p {
  display: inline-block;
  width: 10rem;
}
.check {
  font-size: 1.5rem;
  color: green;
  margin: 0.4rem 0 0 0;
}

.tutors {
  position: relative;
  padding: 1rem;
  text-align: center;
  color: #152b5b;
  top: 8rem;
}

.tutors .text {
  display: flex;
  justify-content: space-around;
  text-align: left;
  top: -10rem;
}

.tutors img {
  margin: 1rem 0;
  border: 1px solid #000000;
  padding: 1rem;
  height: 69px;
  border-radius: 5px;
  width: 72px;
  margin-bottom: 50px;
}

.all-access {
  position: relative;
  top: 10rem;
  z-index: 1;
  height: 100vh;
}

.all-access .text {
  position: relative;
  top: 0rem;
}

.all-access .title {
  left: 0;
  font-size: 2rem;
  line-height: 0;
  color: #152b5b;
}

.all-access .all-access-img {
  width: 20rem;
}

.all-access .dots {
  position: absolute;
  left: 0;
}

.all-access p {
  right: 6rem;
  font-family: Inter;
  font-size: 1rem;
}

.all-access li {
  color: #6e7992;
  list-style-image: -webkit-image-set();
}

.learn-pace {
  position: relative;
  height: 90vh;
  top: 4rem;
  margin-bottom: 10px;
}

.learn-pace .text {
  position: relative;
  top: 5rem;
}

.learn-pace .learn-img {
  position: absolute;
  width: 20rem;
  height: 15rem;
  left: 0;
  border-radius: 4px;
  top: 300px;
}

.learn-pace .bg {
  position: absolute;
  height: 45vh;
  right: 0;
  width: 100vw;
  top: 300px;
}

.learn-pace .pace-dots {
  position: absolute;
  margin-top: 190px;
  right: 60px;
}

.personal_tutor .text {
  position: relative;
  line-height: 28px;
  top: 6rem;
  margin-bottom: 40px;
}

.personal_tutor .bg {
  width: 100vw;
  height: 45vh;
  top: 230rem;
}

.personal_tutor .personal-tutor-img {
  position: relative;
  top: 4rem;
  width: 20rem;
  height: 15rem;
  left: 52px;
  border-radius: 4px;
}

.personal_tutor .dots {
  position: absolute;
  left: 2rem;
  top: 242rem;
}

.testimonials {
  margin-top: 10rem;
  overflow-x: hidden;
}

.testimonials .review {
  font: 600 1rem Inter;
  padding-left: 1rem;
  z-index: 1;
}

.text-wrap {
  position: relative;
  width: 100vw;
  left: 0%;
  right: 0%;
  padding: 0 1rem;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  z-index: 1;
  color: #6e7992;
  font-family: Inter;
  font-size: 14px;
}

.rate {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 7rem;
  flex-wrap: wrap;
  text-align: center;
  width: 100vw;
  z-index: 1;
}

.rate .numbers {
  left: 738px;
  top: 4008px;
  font: 500 1.5rem Inter;
  color: #152b5b;
}

.take-class {
  position: relative;
  width: 100vw;
  padding: 0.5rem 0 0 0;
  top: 12rem;
  text-align: center;
  background: #081b32;
  color: #fff;
}

.take-class .text {
  font: 200 1.5rem Inter;
  padding: 0;
  top: -9rem;
  color: #f5f5f5;
  text-align: center;
  z-index: 1;
}

.take-class .btn {
  position: absolute;
  background: #24a3ff;
  border-radius: 8px;
  color: #ffffff;
  font-family: Oxygen;
  top: 8rem;
  left: 8rem;
  padding: 0.5rem 1.5rem;
}

.quot {
  padding: 1rem;
  text-align: left;
  display: inline-block;
  color: #6e7992;
}

.quot-img {
  width: 4rem;
  height: 4rem;
}

footer {
  padding: 3rem 0 3rem 1rem;
  text-align: justify;
  position: relative;
  top: 300px;
  color: #6e7992;
  background: #fafafa;
}

.footer-heading {
  display: flex;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

footer .courses-products {
  position: absolute;
  width: 108px;
  height: 26px;
  left: 448px;
  top: 4880px;
  line-height: 28px;
  flex: 1;
}

.Blog {
  flex: 1;
  padding-left: 20px;
}

.Help {
  flex: 1;
}

.link ul {
  display: flex;
}

.link li {
  list-style: none;
  margin-right: 20px;
}

.link-lg {
  visibility: hidden;
}

@media only screen and (min-width: 280px) {
  .header {
    width: 100vw;
  }

  .hero {
    width: 100vw;
    height: 100vh;
  }

  .hero-img {
    height: 31vh;
    padding-top: 0;
  }

  .all-access,
  .learn-pace,
  .personal_tutor {
    overflow-x: hidden;
  }

  .all-access .text {
    margin-top: 60px;
  }

  .learn-pace {
    top: 7rem;
    height: 100vh;
  }

  .learn-pace .text,
  .personal_tutor .text {
    margin-top: 0;
  }

  .learn-pace .pace-dots {
    right: 20px;
  }

  .personal_tutor {
    position: relative;
    top: 8rem;
    height: 650px;
  }

  .personal_tutor .text {
    top: 3rem;
  }

  .personal_tutor .personal-tutor-img {
    top: 2rem;
  }

  .personal_tutor .bg {
    top: 21rem;
    height: 300px;
  }

  .personal_tutor .dots {
    top: 32rem;
  }

  .testimonials {
    position: relative;
    top: 13rem;
    margin-top: 2rem;
  }

  .rate {
    top: 12rem;
  }

  .take-class .btn {
    left: 30%;
  }
}

@media only screen and (min-width: 540px) {
  .all-access .text,
  .learn-pace .text {
    align-items: center;
    justify-content: center;
  }

  .all-access .bell,
  .learn-pace .bell,
  .personal_tutor .bell {
    margin-left: 4rem;
  }

  .learn-pace .pace-dots {
    left: 17rem;
  }

  .take-class .btn {
    position: absolute;
    left: 40%;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  /* Common style */

  .title {
    color: #152b5b;
  }

  p {
    color: #6e7992;
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
  }

  .text {
    position: absolute;
    text-align: left;
    width: 30vw;
  }

  /* End */

  header {
    padding: 2em 6em 0.5rem 6em;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 50px;
    width: 100px;
    float: left;
  }

  .menu {
    display: none;
  }

  nav a {
    text-decoration: none;
    color: #152b5b;
  }

  nav .home-link,
  .about-link,
  .course-link,
  .price-link,
  .signin-link {
    display: inline;
    font-weight: 400;
    text-decoration: none;
    line-height: 19px;
    padding: 0.5rem;
    font-family: Inter;
  }

  nav {
    justify-content: space-between;
  }

  nav .btn {
    border-radius: 4px;
    color: #fff;
    background: #f88f2f;
    padding: 0.5rem 1rem;
  }

  .hero {
    display: flex;
    position: relative;
    overflow-x: visible;
    height: 55vh;
  }

  .hero .dots {
    left: 725px;
    top: 10rem;
    border: none;
  }

  .hero-left {
    z-index: 1;
    background-color: transparent;
    padding: 0;
  }

  .hero-right {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-top: 0;
  }

  .hero .title {
    position: absolute;
    width: 481px;
    height: 165px;
    left: 6rem;
    top: 150px;
    font-family: Inter;
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
  }

  .hero-text {
    position: absolute;
    width: 377px;
    height: 60px;
    left: 6rem;
    top: 340px;
    font-family: Apercu;
    font-size: 21px;
    line-height: 25px;
    color: #6e7992;
  }

  .btn-hero {
    position: absolute;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    background: #f88f2f;
    padding: 1rem 2rem;
    top: 420px;
    left: 6rem;
  }

  .hero-img {
    position: absolute;
    width: 43vw;
    height: 40vh;
    right: 6rem;
    left: 450px;
    top: 100px;
    z-index: 1;
  }

  .bg {
    position: absolute;
    width: 63vw;
    height: 494px;
    right: 0;
    left: 320px;
    top: 0;
  }

  .dots {
    position: absolute;
    z-index: 1;
    width: 7rem;
    height: 5rem;
  }

  .bell {
    background: #e08213;
    display: flex;
    align-items: left;
    left: 0rem;
  }

  .bell img {
    width: 15xp;
    height: 15px;
  }

  .sub {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #6e7992;
  }

  /* Tutors */

  .tutors {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0rem;
    top: 5rem;
    color: #152b5b;
  }

  .tutors p {
    text-align: left;
  }

  .tutors h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
  }

  .our-h2 {
    margin-left: 100px;
  }

  .tutors .text {
    display: flex;
    justify-content: space-around;
    width: 95vw;
  }

  .text-h2 {
    margin-left: 10px;
  }

  .text p {
    font-size: 24px;
  }

  .tutors .img {
    margin: 0 3rem 0 0;
    width: 20vw;
    padding: 0.5rem 1.5rem;
    height: 8vh;
    background: #ffffff;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    border-radius: 9px;
  }

  .tutors .img-wrap {
    position: relative;
    top: 250px;
    display: flex;
    margin: 0 auto;
  }

  /* All access */

  .all-access {
    position: relative;
    top: 25rem;
    height: 50vh;
  }

  .all-access .text {
    left: 32rem;
  }

  .all-access p {
    width: 19rem;
    right: 6rem;
  }

  .all-access li {
    color: #6e7992;
    list-style-type: style;
  }

  .all-access .bg {
    position: absolute;
    width: 376px;
    height: 392px;
    left: 90px;
    background: #f7fcff;
    border-radius: 6px;
    z-index: 0.4;
  }

  .all-access .all-access-img {
    position: absolute;
    width: 350px;
    height: 312px;
    left: 135px;
    border-radius: 4px;
    z-index: 1;
  }

  .all-access .dots {
    left: 95px;
    top: 253px;
  }

  .all-access .title {
    left: 711px;
  }

  .check-wrap {
    display: block;
  }
  .check-wrap p {
    display: inline;
  }
  .check {
    font-size: 1.5rem;
    color: green;
    margin: 0.4rem 0 0 0;
  }

  /* Learning Pace */

  .learn-pace {
    position: relative;
    top: 30rem;
    height: 50vh;
  }

  .learn-pace .text {
    left: 6rem;
    top: 1rem;
  }

  .learn-pace .bg {
    position: absolute;
    width: 373px;
    height: 392px;
    top: 2rem;
    left: 28rem;
    background: #f7fcff;
    border-radius: 6px;
  }

  .learn-pace .learn-img {
    position: absolute;
    width: 350px;
    height: 312px;
    top: 2rem;
    margin-left: 26rem;
    border-radius: 4px;
  }

  .learn-pace .pace-dots {
    position: absolute;
    left: 640px;
    top: 110px;
    z-index: 1;
  }

  /* Personal tutor */

  .personal_tutor {
    position: relative;
    top: 20rem;
  }

  .personal_tutor .text {
    line-height: 28px;
    top: 10rem;
    left: 32rem;
  }

  .personal_tutor .bg {
    position: absolute;
    width: 42vw;
    height: 450px;
    top: 0;
    left: 6rem;
    background: #f7fcff;
    border-radius: 6px;
  }

  .personal_tutor .personal-tutor-img {
    position: absolute;
    width: 350px;
    height: 312px;
    left: 8rem;
    border-radius: 4px;
  }

  .personal_tutor .dots {
    left: 6rem;
    top: 330px;
  }

  /* Testimonials */

  .testimonials {
    padding: 4rem;
    color: #081b32;
    position: relative;
    top: 20rem;
    height: 50vh;
    margin-top: 250px;
  }

  .testimonial-left {
    position: inherit;
    top: 5rem;
  }

  .testimonials .review {
    font: 600 1rem Inter;
    padding-left: 1rem;
    z-index: 1;
  }

  .testimonials .review .title {
    font-size: 28px;
    font-family: Inter;
  }

  .text-wrap {
    position: relative;
    width: 35%;
    padding: 2rem;
    left: 2%;
  }

  .testimonials .bg {
    position: absolute;
    left: 205px;
    top: 20%;
    bottom: 23.05%;
    height: 32rem;
    width: 75vw;
    background-color: cornflowerblue;
  }

  .testimonials .img {
    position: absolute;
    width: 30vw;
    height: 30vh;
    top: 15rem;
    right: 13rem;
  }

  .quot {
    padding: 0;
    text-align: left;
    display: block;
    color: #6e7992;
  }

  .quot-img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 8rem;
    right: 4rem;
  }

  .testimonials .caption {
    font-family: Inter;
    font-size: 18px;
    line-height: 28px;
    color: #6e7992;
    z-index: 1;
  }

  /* Rate */

  .rate {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    top: 20rem;
    width: 80vw;
    margin: 0 auto;
    z-index: 1;
  }

  .rate .numbers {
    width: 128px;
    height: 36px;
    left: 738px;
    top: 4008px;
    font-family: Inter;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 36px;
    color: #152b5b;
  }

  /* Take class */

  .take-class {
    position: absolute;
    width: 80vw;
    height: 40px;
    padding: 5rem 0;
    top: 270rem;
    left: 6rem;
    align-items: center;
    justify-content: center;
  }

  .take-class .text {
    font: 200 1.5rem Inter;
    left: 13rem;
    padding-top: 30px;
    z-index: 1;
  }

  .take-class .btn {
    top: 7rem;
    left: 17rem;
    padding: 0.5rem 1.5rem;
  }

  /* Footer */

  footer {
    padding: 3rem 0 3rem 0;
    position: relative;
    top: 55rem;
    display: flex;
    justify-content: space-evenly;
    color: #6e7992;
    background: #fafafa;
  }

  footer .courses-products {
    position: absolute;
    width: 108px;
    height: 28px;
    left: 448px;
    top: 4880px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6e7992;
  }
}

@media only screen and (min-width: 912px) {
  .take-class {
    top: 300rem;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 100vh;
  }

  .bg {
    width: 70vw;
  }

  .hero-img {
    height: 70vh;
  }

  .tutors .img {
    height: 70px;
  }

  /* All access */

  .all-access {
    position: relative;
    top: 25rem;
    height: 50vh;
  }

  .all-access .text {
    left: 35rem;
    top: 5rem;
  }

  .all-access .bg {
    width: 380px;
  }

  .all-access .all-access-img {
    left: 170px;
  }

  .all-access .dots {
    left: 105px;
  }

  /* Learning Pace */

  .learn-pace {
    top: 38rem;
  }

  .learn-pace .bg {
    width: 450px;
    height: 392px;
    top: 2rem;
    left: 32rem;
  }

  .learn-pace .learn-img {
    top: 1rem;
    margin-left: 30rem;
  }

  .learn-pace .pace-dots {
    left: 800px;
    top: 50px;
  }

  /* Personal tutor */

  .personal_tutor {
    top: 43rem;
  }

  .personal_tutor .text {
    left: 38rem;
  }

  .personal_tutor .bg {
    height: 400px;
    top: 80px;
  }

  .personal_tutor .personal-tutor-img {
    left: 13rem;
  }

  .personal_tutor .dots {
    left: 9rem;
  }

  /* Testimonials */

  .testimonials {
    top: 45rem;
    height: 100vh;
  }

  .testimonials .img {
    height: 20rem;
    right: 18rem;
  }

  /* Rate */

  .rate {
    top: 50rem;
  }

  /* Take class */

  .take-class {
    top: 260rem;
  }

  .take-class .text {
    font: 200 1.8rem Inter;
    left: 17rem;
  }

  .take-class .btn {
    top: 8rem;
    left: 22rem;
  }

  /* Footer */

  footer {
    top: 75rem;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-right .bg {
    width: 76vw;
  }

  .take-class {
    top: 290rem;
  }

  .take-class .text {
    text-align: center;
    left: 20rem;
  }

  .take-class .btn {
    left: 28rem;
  }

  .link ul {
    display: block;
  }

  .link {
    flex: 1;
  }

  .footer-wrapper {
    position: relative;
    left: 1rem;
    width: 70vw;
    justify-content: space-evenly;
  }

  .Blog {
    margin-left: 3rem;
    padding-left: 5rem;
  }

  .Help {
    flex: 1;
  }
}

@media only screen and (min-width: 1366px) {
  .hero {
    overflow-x: hidden;
  }
  .hero-right .bg {
    width: 76vw;
    right: 0;
  }

  .hero-img {
    width: 65vw;
  }

  .hero .dots {
    left: 1200px;
    top: 10rem;
  }

  .tutors .img {
    height: 100px;
  }

  .all-access {
    top: 30rem;
    height: 500px;
  }

  .learn-pace {
    height: 500px;
  }

  .testimonials {
    margin-top: 1rem;
  }

  .take-class {
    top: 275rem;
    margin-left: 5%;
  }

  .take-class .text {
    text-align: center;
    left: 20rem;
  }

  .take-class .btn {
    left: 28rem;
  }
}
